* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html, body, section, button {
    transition: all 0.3s ease;
}

:root {
    --bg-dark: #000;
    --bg-light: #fff;
    --btn-dark: #000;
    --btn-light: #fff;
}

.Dark {
    background-color: var(--bg-light);
    color: var(--btn-dark);
}

.Light {
    background-color: var(--bg-dark);
    color: var(--btn-light);

}

.Light button{
    background-color: var(--bg-light);
    color: var(--btn-dark);

}

.Dark button{
    background-color: var(--bg-dark);
    color: var(--btn-light);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

section h1 {
    font-size: clamp(2rem, 4vw, 5rem);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: -0.02em;
    line-height: 1;
}

button {
    font-size: clamp(1rem, 2vw, 3rem);
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
}

button:hover {
    filter: brightness(0.9);
}