
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-1:#333;
    --color-2: #555;
    --color-3: #fff;
    --color-4: #999;
}

body, html {
    height: 100%;
}

h1 {
    text-align: center;
    background-color: var(--color-1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

}

body {
    font-family: monospace;
    background-color: #333;
}

main {
    max-width: 768px;
    margin: 0 auto;
    background-color: var(--color-1);
    padding: 1rem;
    min-height: 100%;
    /* border: 2px solid var(--color-4); */
/* } */

section {
    display: grid;
    grid-template-rows: 100px auto;
    background-color: var(--color-2);
    /* border: 2px solid var(--color-4); */
} */

/* ul {
    display: grid;
    padding: 1rem;
    gap: 1rem;
    flex-direction: column;
    background-color: var(--color-1);
    
}

li {
    padding: 0.8rem 0.5rem;
    background-color: var(--color-2);
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 2px solid var(--color-4);
    cursor: grab;
} */

/* button {
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: var(--color-2);
    color: white;
} */


.list {
    border: 1px solid #333;
    width: 200px;
    min-height: 120px;
    padding: 10px;
    margin: 20px;
}

.item {
    padding: 10px;
    background: #eee;
    margin-bottom: 10px;
    cursor: grab;
    /* user-select: none; */
}
