* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --dust-grey: #093A3E;
    --blue-slate: #59656F;
    --grape-soda: #9C528B;
    --shadow-grey: #1D1E2C;
    --border-color: #767b78;
}

body {
    /* making use of margin: 0 here is not so required but for redundant nature. */
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #515052;
}

#value {
    min-width: 100%;
    min-height: 200px;
    background-color: var(--shadow-grey);
    color: var(--white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(2rem, 2vw, 3rem);
    font-family: monospace;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--dust-grey);
    border-radius: 2rem;
    border: 1px solid var(--border-color);
}

.cta-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 1rem;
}

button {
    background-color: var(--shadow-grey);
    color: #fff;
    border-radius: 1rem;
    border: 1px solid var(--border-color);
    cursor: pointer;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s, transform 0.2s;
}

button:hover {
    background-color: var(--grape-soda);
    transform: scale(1.05);
}

button:focus-visible {
    outline: 2px solid var(--grape-soda);
}

button i  {
    font-size: clamp(0.8rem, 2vw, 1.2rem);
}