* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
}

body {
    background-color: #333333;
}

main {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

@media(min-width: 768px) {
    section {
        gap: 2rem;
    }
}

h1 {
    font-size: clamp(2rem, 8vw, 4rem);
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.inner {
    display: flex;
    overflow-x: scroll;
}

img {
    width: 100%;
}

@media (min-width: 768px) {
    img {
        max-width: 1000px;
        height: 100%;
    }
}

.image-slider-container {
    position: relative;
    max-width: 1000px;
}


.prev, .next {
    position: absolute;
    z-index: 1000;
    font-weight: 700;
    top: 50%;
    padding: 0 0.2rem;
    transform: translateY(-50%);
    /* transform: translatex(-50%); */
    opacity: 1;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

svg {
    color: #333;
    width: clamp(2rem, 8vw, 5rem);
    /* height: clamp(4rem, 8vw, 8rem); */
}

/* svg text {
    font-size: 1rem;
} */

.prev:hover, .next:hover {
    background-color: #333;
}

.prev:active, .next:active {
    background-color: #7f7f7f;
}

.next {
    /* position: absolute; */
    right: 0;
}