* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    
} */

body, html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(0.8rem, 2vw, 1rem);
    background-color: #333;
}

a {
    color: orange;
    border: none;
    text-decoration: none;
}

label {
    font-size: clamp(0.8rem, 2vw, 1rem);
}

input {
    padding: 0.2rem 0.4rem;
}

header {
    /* background-color: orange; */
    color: #c1c1c1;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
}

header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: clamp(1.5rem, 2vw, 3rem);
}

article {
    /* background-color: cyan; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hls_settings {
    z-index: 1000;
}

main {
    height: calc(100vh - 180px);
    padding: 0 1rem;
    /* background-color: red; */
}



section {
    background-color: #333;
    height: 100%;
    width: 100%;
}

section .container {
    height: 100%;
    width: 100%;
}

section #color_generator_container {
    display: flex;
    height: calc(100% - 60px);
    flex-direction: column;
    /* gap: 2rem; */
    position: relative;
}

#color_generator_container div {
    cursor: pointer;
}

#color_generator_container div:hover {
    opacity: 0.9;
    transform: translate(40deg);
}


@media (min-width: 768px) {
    section #color_generator_container {
        flex-direction: row;
    }
}

.btn-group {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

section #color_generator_container div {
    flex: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    bottom: 0;
    /* position: sticky; */
    height: 60px;
    /* background-color: red; */
    color: #c1c1c1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button {
    padding: 0.2rem 0.4rem;
    background-color: green;
    color: #fff;
    border: none;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    border: 1px solid #c1c1c1;
    font-size: inherit;
}

button:hover {
    opacity: 0.8;
}

button:active {
    outline: 1px solid yellow;
}



.container_article_text, .inputs_hls label{
    color: white;
}

.active {
    display: flex;
}

.popup_article_close_button {
    position: absolute;
    top: 50px;
    right: 50px;
}

.container_article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.color-box {
    border: 2px solid white;
}

.color-box-content {
    background-color: red;
    width: clamp(150px, 15vw, 200px);
    height: clamp(50px, 5vw, 60px);
    position: absolute;
}

@media(min-width: 768px) {
    .color-box-content {
        bottom: 10px;
    }
}


/* .popup_article {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: #333;
    color: #c1c1c1;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
} */