:root {
    --black: #030A0D;
    --blue: #0E2027;
    --grey: #313F45;
    --dark-green: #536555;
    --green: #84A14A;
    --white: #e9e9e9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-size: 1rem;
    background-color: var(--blue);
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    padding: 1rem;
}

svg {
    fill: var(--white);
}

input {
    padding: 0.65rem 1rem;
    width: 100%;
    max-width: 500px;
    font-size: inherit;
    border-radius: 1rem;
    outline: none;
    border: 1px solid var(--white);
    background-color: var(--grey);
    color: var(--white);
}

input::placeholder {
    color: var(--white);
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 1rem;
    border: 1px solid var(--white);
    background-color: var(--grey);
    cursor: pointer;
    font-size: inherit;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 2rem;
    background-color: var(--dark-green);
    padding: 1rem;
    height: 80px;
    text-align: center;
    margin-bottom: 1rem;
    border: 1px solid var(--white);

}

/* @media(min-width: 768px) {
    .search {
        margin-bottom: 1rem;
    }
} */

.weather-display-area {
    border-radius: 2rem;
    background-color: var(--dark-green);
    color: var(--white);
    padding: 1rem;
    min-height: calc(100vh - 80px);
    text-align: center;
    border: 1px solid var(--white);

}